@use '../mixins/pseudo.scss' as *;

.todo-list {
    background-color: var(--list-background);
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

    &__footer {
        padding: 1rem 1.5rem;
        font-size: 0.875rem;
        color: var(--soft-text-color);
        display: flex;
        justify-content: space-between;
    }

    &__container {
        gap: 18px;
        display: flex;
        justify-content: space-between;
    }
}

.task {
    width: 100%;

    &-container {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 1.5rem;
        border-bottom: 1px solid var(--lines);
    }

    &__input {}

    &__label {
        position: relative;
        left: 48px;
        width: 100%;
        color: var(--item);

        &::before {
            @include pseudo(24px, 24px);
            border: 1px solid var(--lines);
            border-radius: 50%;
            left: -48px;
            top: 0;
        }
    }

    &__delete {}
}